.tech-img{
    width: 100%;
    height: 150px;
}

.tech-text{
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    font-family:roboto, sans-serif;
    padding-top: 15px;
    width: 100%;
}

.alien-card{
    margin-top: 40px;
}
.alien-text{
    font-weight: 500;
    font-family: roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    
}

.adult{
    margin: 20px;
    width: 100%;
}

.websites{
    margin: 50px;
}
.exam-card{
    margin-top: -15px;
}

.examcard-text{
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    width: 150%;
}

.exam-img{
    width: 95%;
    height: 160px;
}
.microsoftcard-body{
    margin-left: 10px;
}
.microsoftcard-body p{
    width: 110%;
    padding: 5px;
}

.microsoft-button{
    border: none;
    color: white;
    padding: 5px;
    background-color: black;
    font-weight: 500;
    font-family: roboto, sans-serif;
    font-size: 11px;
    margin-top: -5px;
    margin-left: 5px;
}

